{% extends 'global/base.html' %}
{% block content %}
{% if not user.is_authenticated %}
<div class="log-form">
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
        </div>
        {% endfor %}
        <a href="#">Forget your password?</a>
        <button type="submit">Login!</button>
    </form>
</div>
{% else %}
<div class="log-form">
    <h1>You is already Authenticated</h1>
</div>
{% endif %}
{% endblock content %}