{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'global/partials/head.html' %}
    <title>Authentication</title>
</head>

<body>
    {% include 'global/partials/header.html' %}
    <main>
        <h1>Authentication System</h1>
        {% include 'global/partials/messages.html' %}
        {% block content %}
        
        {% endblock content %}
    </main>
    {% include 'global/partials/footer.html' %}
    <script src="{% static 'global/js/main.js' %} "></script>
</body>

</html>