{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {% include 'global/partials/head.html' %}
    <title>Authentication</title>
</head>

<body>
    {% include 'global/partials/header.html' %}
    <main>
        <h1>Authentication System</h1>
        {% block content %}
        <!-- <div class="log-form">
            <form action="" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="">
                </div>
                <div class="form-group">
                    <label for="passwd">Password:</label>
                    <input type="password" name="passwd" id="">
                </div>
                <a href="#">Forget your password?</a>
                <button type="submit">Login!</button>
            </form>
        </div> -->
        <div class="reg-form">
            <h1>Create Account</h1>
            <form action="" method="post">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name" id="">
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="">
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="">
                </div>
                <div class="form-group">
                    <label for="password2">Repeat Password:</label>
                    <input type="password" name="password2" id="">
                </div>
                <button type="submit">Register!</button>
            </form>
        </div>
        {% endblock content %}
    </main>
    {% include 'global/partials/footer.html' %}
    <script src="{% static 'global/js/main.js' %} "></script>
</body>

</html>