{% load static %}
<header class="">
    <img src="{% static 'global/images/fingerprint-scan.png' %}" alt="">
    <nav>
        <a href="{% url 'home:index' %}">Home</a>
        <a href="#products">Products</a>
        <a href="#About">About</a>
    </nav>
    {% if not user.is_authenticated %}
    <div class="log-sign">
        <a href="{% url 'users:login' %}">Login</a>
        <a href="{% url 'users:signup' %}">Signup</a>
    </div>
    {% else %}
    <div id="user" class="user cursor-pointer">
        <span class="">{{ user.first_name }} <i class="bi bi-caret-down-fill"></i></span>
        <div id="drop" class="drop">
            <a href="{% url 'users:profile' %}"><i class="bi bi-person-square"></i> Profile</a>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ request.user.username }}">
                <button type="submit"><i class="bi bi-box-arrow-left"></i>Logout</button>
            </form>
        </div>
    </div>
    {% endif %}
</header>