{% extends 'global/base.html' %}
{% block content %}
<div class="info">
    <h1>Django Authentication</h1>
    <p>
        Full Stack Application with Django in Backend & Tailwind in Frontend
    </p>
    <p>
        For more Application's visit my GitHub Page <a target="_blank" href="https://github.com/philip-persan">Here</a>!
    </p>
    <p>
        Check-out the System: <a href="{% url 'users:login' %}">Login</a>, <a href="{% url 'users:signup' %}">Signup</a>
    </p>
</div>
{% endblock content %}